<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Earth System</string>
		<key>Parent</key>
		<dict>
			<key>Name</key>
			<string>Earth</string>
			<key>Type</key>
			<string>Terrestrial Planet</string>
			<key>ImageName</key>
			<string>Earth.png</string>
			<key>Mass</key>
			<string>500</string>
			<key>Scale</key>
			<string>0.2</string>
			<key>RingImageName</key>
			<string></string>
		</dict>
		<key>Satellites</key>
		<array>
			<dict>
				<key>Name</key>
				<string>The Moon</string>
				<key>Type</key>
				<string>Terrestrial Moon</string>
				<key>ImageName</key>
				<string>Moon.png</string>
				<key>Mass</key>
				<string>4</string>
				<key>Scale</key>
				<string>0.05</string>
				<key>RingImageName</key>
				<string></string>
			</dict>
		</array>
		<key>Offsets</key>
		<array>
			<array>
				<integer>100</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jupiter System</string>
		<key>Parent</key>
		<dict>
			<key>Name</key>
			<string>Jupiter</string>
			<key>Type</key>
			<string>Gaseous Planet</string>
			<key>ImageName</key>
			<string>Jupiter.png</string>
			<key>Mass</key>
			<string>25000</string>
			<key>Scale</key>
			<string>0.8</string>
			<key>RingImageName</key>
			<string></string>
		</dict>
		<key>Satellites</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Io</string>
				<key>Type</key>
				<string>Terrestrial Moon</string>
				<key>ImageName</key>
				<string>Io.png</string>
				<key>Mass</key>
				<string>10</string>
				<key>Scale</key>
				<string>0.05</string>
				<key>RingImageName</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Europa</string>
				<key>Type</key>
				<string>Terrestrial Moon</string>
				<key>ImageName</key>
				<string>Europa.png</string>
				<key>Mass</key>
				<string>10</string>
				<key>Scale</key>
				<string>0.05</string>
				<key>RingImageName</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Ganymede</string>
				<key>Type</key>
				<string>Terrestrial Moon</string>
				<key>ImageName</key>
				<string>Ganymede.png</string>
				<key>Mass</key>
				<string>10</string>
				<key>Scale</key>
				<string>0.05</string>
				<key>RingImageName</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Callisto</string>
				<key>Type</key>
				<string>Terrestrial Moon</string>
				<key>ImageName</key>
				<string>Callisto.png</string>
				<key>Mass</key>
				<string>10</string>
				<key>Scale</key>
				<string>0.06</string>
				<key>RingImageName</key>
				<string></string>
			</dict>
		</array>
		<key>Offsets</key>
		<array>
			<array>
				<integer>150</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>-250</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>400</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>-500</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Saturn System</string>
		<key>Parent</key>
		<dict>
			<key>Name</key>
			<string>Saturn</string>
			<key>Type</key>
			<string>Gaseous Planet</string>
			<key>ImageName</key>
			<string>Saturn.png</string>
			<key>Mass</key>
			<string>10000</string>
			<key>Scale</key>
			<string>0.6</string>
			<key>RingImageName</key>
			<string>SaturnRings.png</string>
		</dict>
		<key>Satellites</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Enceladus</string>
				<key>Type</key>
				<string>Terrestrial Moon</string>
				<key>ImageName</key>
				<string>Enceladus.png</string>
				<key>Mass</key>
				<string>10</string>
				<key>Scale</key>
				<string>0.05</string>
				<key>RingImageName</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Titan</string>
				<key>Type</key>
				<string>Terrestrial Moon</string>
				<key>ImageName</key>
				<string>Titan.png</string>
				<key>Mass</key>
				<string>10</string>
				<key>Scale</key>
				<string>0.06</string>
				<key>RingImageName</key>
				<string></string>
			</dict>
		</array>
		<key>Offsets</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>150</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>-250</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Uranus System</string>
		<key>Parent</key>
		<dict>
			<key>Name</key>
			<string>Uranus</string>
			<key>Type</key>
			<string>Gaseous Planet</string>
			<key>ImageName</key>
			<string>Uranus.png</string>
			<key>Mass</key>
			<string>5000</string>
			<key>Scale</key>
			<string>0.4</string>
			<key>RingImageName</key>
			<string>UranusRings.png</string>
		</dict>
		<key>Satellites</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Oberon</string>
				<key>Type</key>
				<string>Terrestrial Moon</string>
				<key>ImageName</key>
				<string>Oberon.png</string>
				<key>Mass</key>
				<string>10</string>
				<key>Scale</key>
				<string>0.06</string>
				<key>RingImageName</key>
				<string></string>
			</dict>
		</array>
		<key>Offsets</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>200</integer>
			</array>
		</array>
	</dict>
</array>
</plist>
