<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Mercury</string>
		<key>Type</key>
		<string>Terrestrial Planet</string>
		<key>ImageName</key>
		<string>Mercury.png</string>
		<key>Mass</key>
		<string>400</string>
		<key>Scale</key>
		<string>0.10</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Venus</string>
		<key>Type</key>
		<string>Terrestrial Planet</string>
		<key>ImageName</key>
		<string>Venus.png</string>
		<key>Mass</key>
		<string>450</string>
		<key>Scale</key>
		<string>0.15</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Earth</string>
		<key>Type</key>
		<string>Terrestrial Planet</string>
		<key>ImageName</key>
		<string>Earth.png</string>
		<key>Mass</key>
		<string>500</string>
		<key>Scale</key>
		<string>0.15</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>The Moon</string>
		<key>Type</key>
		<string>Terrestrial Moon</string>
		<key>ImageName</key>
		<string>Moon.png</string>
		<key>Mass</key>
		<string>4</string>
		<key>Scale</key>
		<string>0.07</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mars</string>
		<key>Type</key>
		<string>Terrestrial Planet</string>
		<key>ImageName</key>
		<string>Mars.png</string>
		<key>Mass</key>
		<string>200</string>
		<key>Scale</key>
		<string>0.10</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jupiter</string>
		<key>Type</key>
		<string>Gaseous Planet</string>
		<key>ImageName</key>
		<string>Jupiter.png</string>
		<key>Mass</key>
		<string>25000</string>
		<key>Scale</key>
		<string>1.0</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Callisto</string>
		<key>Type</key>
		<string>Terrestrial Moon</string>
		<key>ImageName</key>
		<string>Callisto.png</string>
		<key>Mass</key>
		<string>10</string>
		<key>Scale</key>
		<string>0.09</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Io</string>
		<key>Type</key>
		<string>Terrestrial Moon</string>
		<key>ImageName</key>
		<string>Io.png</string>
		<key>Mass</key>
		<string>10</string>
		<key>Scale</key>
		<string>0.07</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Europa</string>
		<key>Type</key>
		<string>Terrestrial Moon</string>
		<key>ImageName</key>
		<string>Europa.png</string>
		<key>Mass</key>
		<string>10</string>
		<key>Scale</key>
		<string>0.07</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ganymede</string>
		<key>Type</key>
		<string>Terrestrial Moon</string>
		<key>ImageName</key>
		<string>Ganymede.png</string>
		<key>Mass</key>
		<string>10</string>
		<key>Scale</key>
		<string>0.09</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Saturn</string>
		<key>Type</key>
		<string>Gaseous Planet</string>
		<key>ImageName</key>
		<string>Saturn.png</string>
		<key>Mass</key>
		<string>10000</string>
		<key>Scale</key>
		<string>0.7</string>
		<key>RingImageName</key>
		<string>SaturnRings.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Titan</string>
		<key>Type</key>
		<string>Terrestrial Moon</string>
		<key>ImageName</key>
		<string>Titan.png</string>
		<key>Mass</key>
		<string>10</string>
		<key>Scale</key>
		<string>0.09</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Enceladus</string>
		<key>Type</key>
		<string>Terrestrial Moon</string>
		<key>ImageName</key>
		<string>Enceladus.png</string>
		<key>Mass</key>
		<string>10</string>
		<key>Scale</key>
		<string>0.07</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Uranus</string>
		<key>Type</key>
		<string>Gaseous Planet</string>
		<key>ImageName</key>
		<string>Uranus.png</string>
		<key>Mass</key>
		<string>5000</string>
		<key>Scale</key>
		<string>0.5</string>
		<key>RingImageName</key>
		<string>UranusRings.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Oberon</string>
		<key>Type</key>
		<string>Terrestrial Moon</string>
		<key>ImageName</key>
		<string>Oberon.png</string>
		<key>Mass</key>
		<string>10</string>
		<key>Scale</key>
		<string>0.07</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Neptune</string>
		<key>Type</key>
		<string>Gaseous Planet</string>
		<key>ImageName</key>
		<string>Neptune.png</string>
		<key>Mass</key>
		<string>5000</string>
		<key>Scale</key>
		<string>0.48</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pluto</string>
		<key>Type</key>
		<string>Terrestrial Dwarf Planet</string>
		<key>ImageName</key>
		<string>Pluto.png</string>
		<key>Mass</key>
		<string>100</string>
		<key>Scale</key>
		<string>0.1</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mysterious Object</string>
		<key>Type</key>
		<string>Unknown</string>
		<key>ImageName</key>
		<string>Mysterious.png</string>
		<key>Mass</key>
		<string>-25000</string>
		<key>Scale</key>
		<string>0.8</string>
		<key>RingImageName</key>
		<string></string>
	</dict>
</array>
</plist>
